@charset "UTF-8";

*{margin: 0; padding:0;}
ul{list-style: none;}
a{color:#000; text-decoration: none !important;}
img{border:0; vertical-align: top;}
body{font-family: 'Pretendard', sans-serif;}


#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;   left: 0;
  z-index: 999;
  width: 100%;   margin: 0 auto;
  padding: 30px 325px;
  background-color: rgba(255, 255, 255, 0.336);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
#header h1 img{width: 40px;}
#header .gnb{
  width: 45%;
  display: flex;
  justify-content: space-between;
}
#header .gnb li a{
  color: #888888
}
#header .gnb li a.active {
  font-weight: bold;
  color: cadetblue; /* 예쁜 보라 계열로 강조 */
  text-decoration: underline;
}
#header input{
  width: 100px;height: 35px;
  font-size: 16px;
  color: cadetblue;
  border: 1px solid cadetblue;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
#header input:hover{
  color: white;
  background-color: cadetblue;
}



#section .sec1{
  width: 100%;
  height: 753px;
  margin-top: 100px;
  box-shadow: 0px 3px 3px rgb(231, 231, 231);
  margin-bottom: 50px;
}
.row {
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faces {
  width: 855px;
  display: flex;
  transition: transform 0.8s ease;
}
.face {
  height: 753px;
  background-repeat: no-repeat;
  background-size: cover;
}
#face1 {
  background-image: url(images/designer.png);
  background-position: -22% 0;
}
#face2 {
  background-image: url(images/coder.png);
  /* background-position: 90% 0; */
  background-position: 97% 0;
}
.text {
  width: 25%;
  padding: 20px;
  opacity: 1;
  text-align: right;
  transition: opacity 0.8s ease;
}
#text1 {
  
}

/* ------------section 2---------------- */
#section .sec2{
  padding-top: 50px; 
}
#section .sec2 .boxwrap{
  width: 100%; height: 930px;
  background-image: url(images/bg_paint_beige.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
#section .sec2 .cont_box{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 88%; 
  height: 85%;
  background-color: rgba(174, 174, 174, 0.291);
  border-radius: 20px;
  backdrop-filter: blur(4.5px);
  box-shadow: 0 0 32px 0 rgba(97, 120, 138, 0.425);
  border: 1px solid rgba(255, 255, 255, 0.281);
  padding: 20px;
}
#section .sec2 .cont_box .left_pic{
  width: 30%;
  height: 99.2%;
  border-right: 1px solid rgb(255, 255, 255);
}
#section .sec2 .cont_box .left_pic img{
  width: 240px;
  padding-top: 30px;
  margin-left: 20%;
}

#section .sec2 .cont_box .left_pic .pf_txt{
  width: 70%; margin: 0 auto;
  text-align: center;
  color: white;
  padding-top: 20px;
  letter-spacing: -1px;
}
#section .sec2 .cont_box .left_pic .pf_txt h4{
  font-size: 45px;
  line-height: 28px;
}
#section .sec2 .cont_box .left_pic .pf_txt span{
  font-size: 17px;
  color:white;
}

#section .sec2 .cont_box .left_pic .sub_desc1{
  margin-top: 50px;
  color: white;
  text-align: center;
  margin-left: -25px;
  font-size: 18px;
}
#section .sec2 .cont_box .left_pic .sub_desc1 .last_txt{
  font-size: 14px;
  margin-top: 30px;
  line-height: 30px;
}
#section .sec2 .cont_box .edu{
  width: 65%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left:32.5%; bottom: 80px;
  color: white;
}
#section .sec2 .cont_box .edu li{
  width: 55%;
}
#section .sec2 .cont_box .edu img{filter: brightness(0) invert(1);}
#section .sec2 .cont_box .edu>li>p{
  font-size: 15px;
  line-height: 15px;
}
#section .sec2 .cont_box .edu>li>p span{
  font-size: 13px;
  color: #616161;
  line-height: 20px;
}


#section .sec2 .cont_box .hardskills{
  width: 68%; 
  display: flex;
  justify-content: space-between;
  margin-top: -50px;
  margin-left: 30.5%;
}

#section .sec2 .cont_box .hardskills li{
  width: 50px; height: 50px;
  background-color: rgba(255, 253, 253, 0.253);
  border-radius: 50%;
  backdrop-filter: blur(4.5px);
  box-shadow: 0 0 32px 0 rgba(97, 120, 138, 0.425);
  border: 1px solid rgba(255, 255, 255, 0.397);
  line-height: 42px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}
#section .sec2 .cont_box .hardskills li:hover{
  transform: scale(1.2);
  background-color: rgba(204, 195, 253, 0.623);
}
#section .sec2 .hardskills li img{
  width: 30px;
}

/* ---------soft skills --------------------- */
#section .sec2 .cont_box .softskills{
  width: 67%;
  position: absolute;
  top: 30px;
  left:33.5%;
  color: white;
}
#section .sec2 .cont_box .softskills .container h2{
  margin-bottom: 20px;
  margin-left: -80px;
}
#section .sec2 .cont_box .softskills .container .row{
  width: 100%;
  height: 320px;
}
#section .sec2 .cont_box .softskills .container .row .col{
  width:48%; 
  height: 150px;
  background-color: rgba(160, 156, 156, 0.291);
  border-radius: 20px;
  backdrop-filter: blur(4.5px);
  box-shadow: 0 0 32px 0 rgba(97, 120, 138, 0.425);
  border: 1px solid rgba(255, 255, 255, 0.281);
  padding: 20px;
  margin-right: 10px;
  color: white;
  font-size: 14px;
}
#section .sec2 .cont_box .softskills .container .row .col span{
  font-weight: bold;
  font-size: 20px;
}



/* -------section3 : portfolio--------- */
#section .portfolio{
  width: 100%;
  padding-top:50px;
  }
#section .portfolio .wrap{
  padding:15px; 
  letter-spacing:-0.5px;
}
#section .portfolio .tab_menu{position:relative;}
#section .portfolio .tab_menu .list{overflow:hidden; margin-left: 90px;}
#section .portfolio .tab_menu .list li{float:left; margin-right:14px;}
#section .portfolio .tab_menu .list li.is_on .btn{font-weight:bold; color:cadetblue;}
#section .portfolio .tab_menu .list .btn{font-size:14px; font-weight: 800;}
#section .portfolio .tab_menu .cont_area{margin-top:70px;}
#section .portfolio .tab_menu .cont_area .cont{
  display:none; 
  color:#5e5e5e; 
  text-align:center; 
  width:100%; height:850px; 
  line-height:100px;
  }
#section .portfolio .tab_menu .cont_area .cont h1{
  margin-top: 30px;
  text-align: left;
  margin-left: 130px;
  margin-bottom: 30px;
  color: #4b4b4b;
  }
#section .portfolio .tab_menu .cont_area .cont .siteworks {
  width: 90%;  margin: 0 auto;
  display: flex;
  justify-content: center; /* 👉 아이템을 가운데로 정렬 */
  flex-wrap: wrap;
  gap: 15px;
  }
#section .portfolio .tab_menu .cont_area .cont .siteworks li{
  width: calc(33.33% - 10px);  /* 3개씩 배치되도록 1/3씩 너비 설정 */
  position: relative;
  overflow: hidden;
  cursor: pointer;
  }
  #section .portfolio .tab_menu .cont_area .cont .siteworks li .overlay-text {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  opacity: 0;
  transition: all 0.4s ease;
  text-align: center;
  line-height: 30px;
  z-index: 2;
  transform: translate(-50%, -40%);
  transition: all 0.4s ease;
}
#section .portfolio .tab_menu .cont_area .cont .siteworks li .overlay-text a{text-decoration: none;}
#section .portfolio .tab_menu .cont_area .cont .siteworks li .overlay-text p.more {
  width: 100px; margin: 0 auto;
  height: 35px;
  background-color: #00000000;
  border: 1px solid white;
  color: white;
  line-height: 30px;
  font-weight: 300;
}
#section .portfolio .tab_menu .cont_area .cont .siteworks li .overlay-text p.more a{
  color: white;

}
#section .portfolio .tab_menu .cont_area .cont .siteworks li .overlay-text p.more:hover{
  background-color: rgba(255, 255, 255, 0.356);
}
#section .portfolio .tab_menu .cont_area .cont .siteworks li .overlay-text p.more:hover a{
  color: #7a37c7;
}
#section .portfolio .tab_menu .cont_area .cont .siteworks li::after{
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 550px; height: 380px;
  background:linear-gradient(45deg,rgba(211, 92, 151, 0.705),rgba(86, 172, 143, 0.74), rgba(109, 147, 234, 0.651));
  opacity: 0;
  transition: all 0.5s;
}
#section .portfolio .tab_menu .cont_area .cont .siteworks li:hover:after{
  opacity: 1;
}
#section .portfolio .tab_menu .cont_area .cont .siteworks li:hover .overlay-text {
  opacity: 1;
  transform: translate(-50%, -50%);
}


/* 모달 배경 */
.modal {
  position: fixed;
  z-index: 999;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

/* 모달 이미지 */
.modal-content {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

/* 닫기 버튼 */
.close {
  position: absolute;
  top: 50px;
  right: 60px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 768px) {
  .modal-content {
    width: 90% !important;
    height: auto !important;
  }
}



/* --------------contact-------------------- */
#section .contact{
  text-align: center;  
}
#section .contact h1{
  margin-top: 300px;
  font-size: 200px;
  font-weight: 900;
  background-image: linear-gradient(95deg, rgba(162, 0, 255, 0.678),rgba(76, 185, 149, 0.733),rgba(74, 139, 236, 0.897));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s;
}
#section .cont_txt{
  margin-top: 20px;
  font-weight: 500;
  color: #5e5e5e;
  font-size: 24px;
}
#section .contact .cont_detail{
  margin-top: 70px;
  margin-bottom: 150px;
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 400;
  line-height: 5px;
}
#section .contact .cont_detail p a{
  color: #5e5e5e;
}
#section .contact .cont_detail p:first-of-type{
  font-size: 28px;
  margin-bottom:50px;
}
#section .contact .cont_detail span{
  color: cadetblue;
  font-size: 15px;
}


/* ----footer-------- */
#footer p{
  text-align: center; 
  color: #5e5e5e;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 13px;
}

/* 1129px ~ 1610px */
@media all and (min-width:1129px) and (max-width:1610px){
  #header{padding: 30px 130px;}
  #header .gnb{width: 50%;}
  #section .sec2 .cont_box .left_pic img{
    margin-left: 15%;
  }
  #section .sec2 .container .row .col p{
  font-size: 12px;
}
#section .sec2 .boxwrap .edu>li p{
  line-height: 15px;
}
#section .sec2 .boxwrap .edu>li p span{
  line-height: -10px;
  font-size: 12px;
  letter-spacing: -2px;
}
}

/* 1041px ~ 1128px */
@media all and (min-width:1041px) and (max-width:1128px){
  #header{padding: 30px 100px;}
  #section .sec2 .cont_box .left_pic{width: 32%}
  #section .sec2 .cont_box .left_pic img{
    width: 200px;
  }
  #section .sec2 .sub_desc1 .last_txt{
    letter-spacing: -2px;
    font-size: 11px;
  }
  #section .sec2 .container .row .col p{
    letter-spacing: -1px;
    margin-top: -25px;
  }
  .softskills .container .row .col p span{
    display: none;
  }
  #section .sec2 .boxwrap .edu{
    margin-left: -0.5%;
  }
  #section .sec2 .boxwrap .edu h5{
    margin-bottom: -7px;
  }
  #section .sec2 .boxwrap .edu li{
    margin-right: 10px;
  }
  #section .sec2 .boxwrap .edu li p,
  #section .sec2 .boxwrap .edu li p span{
    line-height: 15px;
  }
  #section .sec2 .cont_box{
    height: 90%;
  }

}
/* 906px ~ 1040px */
  @media all and (min-width:906px) and (max-width:1040px){
  #header{padding: 30px 100px;}
  #section .sec2 .cont_box .left_pic img{
    width: 200px;
    margin-left: -0.1%;
  }
  #section .sec2 .boxwrap .cont_box .left_pic .last_txt{
    width: 68%; margin: 0 auto;
    line-height: 26px;
  }
  .softskills .container .row{
    margin-left: 5px;
  }
  .softskills .container .row .col{
    height: 135px;
  }
  .softskills .container .row .col p{
    margin-top: -25px;
    font-size: 13px;
  }
  .softskills .container .row .col p span,
  #section .sec2 .boxwrap .edu>li p span{
    display: none;
  }
  #section .sec2 .boxwrap .edu{
    margin-bottom: 60px;
  }
  #section .sec2 .hardskills{
    padding-bottom: 30px;
    width: 20%;
    flex-wrap: wrap;
  }
  #section .contact h1.cont_tt{
    font-size: 100px;
  }
  #section .cont_txt{font-size: 16px;}
  
}

  /* 700px ~ 905px */
  @media all and (min-width:700px) and (max-width:905px){
    #header{padding: 30px 100px;}

    #section .sec2 .cont_box .left_pic img{
      width: 180px;
      margin-left: 1%;
  }

  #section .sec2 .left_pic .pf_txt h4{
      margin-left: -10%;
      font-size: 20px !important;
      font-weight: bold;
    }
    #section .sec2 .sub_desc1 p{
    font-size: 14px;
    margin-top: -15px;
  }
  #section .sec2 .sub_desc1 .last_txt{
    letter-spacing: -2px;
    font-size: 11px;
    width: 85%; margin: 0 auto;
  }
  .softskills .container .row .col{
    width: 45% !important;
    margin-left: 2.3%;
  }
  #section .sec2 .container .row .col p{
    letter-spacing: -1px;
    margin-top: -30px;
    font-size: 13px;
  }
  .softskills .container .row .col p span,
  #section .sec2 .boxwrap .edu>li p span{
    display: none;
  }
  #section .sec2 .boxwrap .edu li{margin-right:20px;}
  #section .sec2 .hardskills li{
    display: none;
  }
  #section .contact h1.cont_tt{
    font-size: 100px;
  }

  #section .portfolio .tab_menu .cont_area .cont .siteworks li{
    width: calc(50% - 10px); /* aspect-ratio: 4 / 3; li의 비율 고정 (원하는 비율로) */
  }
  #section .portfolio .tab_menu .cont_area .cont .siteworks li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;   /* 이미지의 중심을 기준으로 자름 */
    display: block;
  }
  #section .cont_txt{font-size: 16px;}
  #section .contact h1{margin-top: 10px;}
}

/* 400px ~ 699px */
  @media all and (min-width:400px) and (max-width:699px){
    
  }